extends boilerplate
block content

    //- menu
    .menu 
        a(href="/").menu__title Home
      
    .header__content
        .header__content--c
            h1  Welcome to Asha        
            p  Consider what a long way you have come today

    //- the main container
    .secondContainer
        //- form for the story submission 
        .form 
            .addBtn 
                span Inspire 
                span Share
            .form__add
                form(action='/dbb', method='POST')
                    input(type='text', name='name', placeholder='Title')
                    br
                    input(type='text', name='description', placeholder='Description')
                    br
                    input#form__add--des(type='text', name='direction', placeholder='Details')
                    br
                    input#form__add--submit(type='submit', value='Add')

        //- looping through the database
        each i in howto
            //- displaying
            .secondContainer__items
                //- stories header
                h3.secondContainer__items--header #{i.name} 
                //- stories content
                .secondContainer__items--subcontent
                    p.secondContainer__items--description #{i.description}
                    p.secondContainer__items--direction  #{i.direction}  
                    //- delete 
                    form.delete(action=`/dbb/${i.id}?_method=DELETE`, method='POST')
                        input.deleteBtn(type='submit', value='Delete')
                    //- update
                    button.edit Edit
                    .add
                        form(action=`/dbb/${i.id}?_method=PUT`, method='POST')
                            input(type='text', name='name', value=`${i.name}`)
                            br
                            input(type='text', name='description', value=`${i.description}`)
                            br
                            input(type='text', name='direction', value=`${i.direction}`)
                            br
                            input.add--submit(type='submit', value='Edit')


    include footer.pug